<%- include('partials/header') -%>

<h1>Compose</h1>
<form action="/publish" method="post">
    <div class="form-group">
        <label for="title">Tittle</label>
        <input type="text" name="tittle" id="tittle" class="form-control">
    </div>

    <div class="form-group">
        <label for="content">Post</label>
        <textarea name="content" id="content" cols="30" rows="5" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-sm">publish</button>
</form>

<%- include('partials/footer') -%>